body {
	background-image: url('./bg.png');
}
h1, p {
	font-family: Lato, Helvetica, sans-serif;
	line-height: 5px;
}
#überall {
	background-color: #149911;
	border-radius: 5px;
	height: 100%;
	width: 75%;
	position: fixed;
	top: 0;
	left: 12.5%;
}
#login {
	position: fixed;
	top: 0;
	right: 15%;
}
#languagefrom {
	position: fixed;
	top: 50px;
	left: 200px;
	font-size: 20pt;
}
#languageto {
	position: fixed;
	top: 50px;
	right: 200px;
	font-size: 20pt;
}
#current {
	position: fixed;
	top: 100px;
	left: 200px;
	font-size:18pt;
}
#sentence {
	position: fixed;
	top: 150px;
	left: 200px;
}
#previous-translations-sub {
	position: fixed;
	top: 180px;
	left: 200px;
	font-size: 20pt;
}
#previous-translations {
	position: fixed;
	top: 220px;
	left: 200px;
}